# Environment variables
.env

# Python virtual environment
venv/
.venv/

# Node modules
node_modules/

# Python cache
__pycache__/
*.pyc

# Database
*.db

# Uploads
uploads/

# Build folders
dist/
build/

# VS Code
.vscode/